body {
  margin: 0;
  background: #23252C;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
 background: #1A1B21;
 width : 317px;
 margin : auto;
 margin-top: 100px;
 border-bottom-left-radius: 10px;
border-bottom-right-radius : 10px;
}

.header {
  width : 317px;
  height : 250px;
  
}

.profile {
  width : 317px;
  height : 250px;
  object-fit : cover;
  border-top-left-radius: 10px ;
  border-top-right-radius : 10px;
}

.main{
  display : flex;
  flex-direction: column;
}

.main > h2 {
  color : white;
  font-size : 25px;
  margin : 10px auto 2px auto;
  justify-content: center;
}

.main > h3 {
  color : #F3BF99;
  margin : 0px auto 2px auto;
  font-size: 13px; 
  font-weight: 100;
}

.main > h4 {
  color  : #F5F5F5;
  margin : 0px auto 0px auto;
  font-size: 11px;
  font-weight : 100;
}

.btn {
  display : flex;
  justify-content: space-evenly;
  margin : 10px;
  margin-top : 20px;
}

.email{
  width : 105px;
  height : 30px;
  display : flex;
  border-radius: 6px;
  border-width:  0px;
  margin-right : 35px;
}

.email-icon {
  width : 16px;
  margin-top : 5px ; 
  margin-left : 10px;
}

.email-text {
  margin : 5px 10px;
  color : #374151;
  font-size: 14px;
  font-weight: 500;
}

.linkedin {
  width : 105px;
  height : 30px;
  display : flex;
  border-radius: 6px;
  border-width:  0px;
  background: #5093E2;
}

.linkedin-icon {
  width : 16px;
  margin-top : 5px ; 
  margin-left : 10px;
}
.linkedin-text {
  margin : 5px 10px;
  color : white;
  font-size: 14px;
  font-weight: 500;
}

.text-body {
  color : white;
  width : 270px;
  margin-left : 20px;
}

.text-body > h5 {
  font-size: 16px;
  font-weight: 700;
  margin : 0px 0px 10px 10px;
}

.text-body > p {
  font-size : 11px;
  font-weight: 400;
  margin-top : 0px;
  margin : 0px 0px 10px 10px;
}

.footer {
  background: #161619;
  height : 64px;
  display : flex;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius : 10px;
  justify-content: space-around;
  
}

.footer > a > img {
  width : 25px;
  height : 25px;
  margin-top : 20px;
}